@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.scrollable-text-container {
  width: 100%;
  overflow: hidden;
}

.scrollable-text-content {
  white-space: nowrap;
  animation: scrollText linear infinite;
  animation-duration: 15s;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.custom-radial-gradient {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}

.slick-list {
  margin: 0 -7px;
}
.slick-slide > div {
  padding: 0 10px;
}
