@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.scrollable-text-container {
  width: 100%;
  overflow: hidden;
}

.scrollable-text-content {
  white-space: nowrap;
  animation: scrollText linear infinite;
  animation-duration: 15s;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
